.siteFooter {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: #0A285F;
    color: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #FFCC00;
}

footer > ul{
    display: flex;
}

footer > ul > li:first-child{
    list-style: none;
}

footer > ul > li{
    margin: 0 16px;
}