.pokeball > svg{
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
}

.pokeball:hover > svg{
    transform: scale(1.1);
    cursor: pointer;
}

.pokeball > p{
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.pokeball:hover > p{
    color: #FFCC00;
}

.pokeball > svg > .pokeballButton{
    -webkit-transition: fill 0.4s;
    transition: fill 0.4s;
}

.pokeball:hover > svg > .pokeballButton{
    fill: #ff5c5c;
}