.pokeballListContainer {
    margin: 16px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pokeballList {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px 100px;
}